In [2]:
import quantfreedom as qf
import pandas as pd
import yfinance as yf

In [40]:
yf.Ticker('ETH-USD').history(period='10000d', interval='1d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09 00:00:00+00:00,308.64,329.45,307.06,320.88,893249984,0.00,0.00
2017-11-10 00:00:00+00:00,320.67,324.72,294.54,299.25,885985984,0.00,0.00
2017-11-11 00:00:00+00:00,298.59,319.45,298.19,314.68,842300992,0.00,0.00
2017-11-12 00:00:00+00:00,314.69,319.15,298.51,307.91,1613479936,0.00,0.00
2017-11-13 00:00:00+00:00,307.02,328.42,307.02,316.72,1041889984,0.00,0.00
...,...,...,...,...,...,...,...
2023-04-03 00:00:00+00:00,"1,794.92","1,839.16","1,765.52","1,810.30",9643826401,0.00,0.00
2023-04-04 00:00:00+00:00,"1,810.14","1,886.59","1,802.96","1,871.01",10398322335,0.00,0.00
2023-04-05 00:00:00+00:00,"1,870.97","1,937.50","1,865.94","1,909.11",10319231689,0.00,0.00
2023-04-06 00:00:00+00:00,"1,909.14","1,909.27","1,857.09","1,872.92",8263191830,0.00,0.00
2023-04-08 00:00:00+00:00,"1,865.06","1,865.06","1,856.85","1,860.63",8252133376,0.00,0.00

In [16]:
yf.download('ETH-USD', start='2022-01-02', end='2022-12-31', interval='1h')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-01-02 00:00:00+00:00,"3,769.30","3,769.30","3,756.88","3,764.54","3,764.54",0
2022-01-02 01:00:00+00:00,"3,765.16","3,765.27","3,747.93","3,747.93","3,747.93",0
2022-01-02 02:00:00+00:00,"3,748.05","3,753.00","3,746.86","3,749.26","3,749.26",0
2022-01-02 03:00:00+00:00,"3,749.15","3,757.18","3,747.43","3,751.39","3,751.39",0
2022-01-02 04:00:00+00:00,"3,753.93","3,758.93","3,727.36","3,729.17","3,729.17",39178240
...,...,...,...,...,...,...
2022-12-30 19:00:00+00:00,"1,197.22","1,197.43","1,195.38","1,195.38","1,195.38",0
2022-12-30 20:00:00+00:00,"1,195.34","1,196.91","1,195.34","1,196.91","1,196.91",0
2022-12-30 21:00:00+00:00,"1,196.83","1,200.07","1,196.83","1,198.92","1,198.92",121039616
2022-12-30 22:00:00+00:00,"1,198.80","1,199.17","1,197.97","1,198.71","1,198.71",0
2022-12-30 23:00:00+00:00,"1,198.51","1,200.14","1,198.51","1,199.21","1,199.21",0

In [2]:
prices = qf.CCXTData.data_download(
    exchange='bybit',
    # start='2020-10-01T00:00:00Z',
    # end='2021-04-01T00:00:00Z',
    start='2020-10-01T00:00:00Z',
    end='2021-04-15T00:00:00Z',
    symbols=['BTCUSDT', 'ETHUSD', 'XRPUSD', 'EOSUSD', 'LTCUSDT'],
    timeframe='30m',
    # remove_rate_limit=True,
    drop_volume=True,
)

Loading exchange data
Total possible rows of data to be download: 9408
Total possible candles to be download: 47040
It could finish earlier than expected because maybe not all coins have data starting from the start date selected.

Downloading LTCUSDT:  98%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š| 240/245 [00:55<00:01,  4.29it/s]

In [3]:
prices

symbol                BTCUSDT                                 ETHUSD           \
candle_info              open      high       low     close     open     high
open_time
2020-10-01 00:00:00 10,759.00 10,817.50 10,759.00 10,790.00   359.85   361.45
2020-10-01 00:30:00 10,790.00 10,790.50 10,775.00 10,777.00   358.95   359.75
2020-10-01 01:00:00 10,777.00 10,793.00 10,777.00 10,793.00   359.25   359.80
2020-10-01 01:30:00 10,793.00 10,836.00 10,792.50 10,822.00   359.75   361.40
2020-10-01 02:00:00 10,822.00 10,841.50 10,808.00 10,808.50   361.20   364.05
...                       ...       ...       ...       ...      ...      ...
2021-04-14 21:30:00 62,703.50 62,812.50 62,615.50 62,795.00 2,406.20 2,440.00
2021-04-14 22:00:00 62,795.00 62,825.00 62,591.00 62,680.00 2,434.05 2,445.00
2021-04-14 22:30:00 62,680.00 62,993.00 62,680.00 62,849.50 2,427.00 2,438.60
2021-04-14 23:00:00 62,849.50 62,999.00 62,750.00 62,999.00 2,431.30 2,450.00
2021-04-14 23:30:00 62,999.00 62,999.00 62,606.00 62,921.00 2,445.95 2,445.95

symbol                                XRPUSD                 EOSUSD            \
candle_info              low    close   open high  low close   open high  low
open_time
2020-10-01 00:00:00   358.85   358.95   0.24 0.24 0.24  0.24   2.58 2.58 2.58
2020-10-01 00:30:00   358.95   359.25   0.24 0.24 0.24  0.24   2.58 2.58 2.58
2020-10-01 01:00:00   358.80   359.75   0.24 0.24 0.24  0.24   2.58 2.59 2.58
2020-10-01 01:30:00   359.75   361.20   0.24 0.24 0.24  0.24   2.59 2.59 2.59
2020-10-01 02:00:00   361.20   362.95   0.24 0.24 0.24  0.24   2.59 2.60 2.59
...                      ...      ...    ...  ...  ...   ...    ...  ...  ...
2021-04-14 21:30:00 2,397.20 2,434.05   1.78 1.82 1.77  1.82   7.58 7.62 7.54
2021-04-14 22:00:00 2,418.65 2,427.00   1.82 1.82 1.77  1.78   7.61 7.73 7.55
2021-04-14 22:30:00 2,423.50 2,431.30   1.78 1.82 1.78  1.80   7.65 7.77 7.65
2021-04-14 23:00:00 2,431.30 2,445.95   1.80 1.84 1.79  1.83   7.71 7.79 7.67
2021-04-14 23:30:00 2,417.40 2,438.20   1.83 1.85 1.82  1.84   7.78 7.78 7.63

symbol                    LTCUSDT
candle_info         close    open   high    low  close
open_time
2020-10-01 00:00:00  2.58     NaN    NaN    NaN    NaN
2020-10-01 00:30:00  2.58     NaN    NaN    NaN    NaN
2020-10-01 01:00:00  2.59     NaN    NaN    NaN    NaN
2020-10-01 01:30:00  2.59     NaN    NaN    NaN    NaN
2020-10-01 02:00:00  2.59     NaN    NaN    NaN    NaN
...                   ...     ...    ...    ...    ...
2021-04-14 21:30:00  7.61  269.26 281.37 269.11 280.82
2021-04-14 22:00:00  7.65  280.82 282.02 278.24 278.49
2021-04-14 22:30:00  7.71  278.49 281.31 276.64 277.50
2021-04-14 23:00:00  7.78  277.50 280.17 277.46 279.05
2021-04-14 23:30:00  7.68  279.05 280.95 277.95 279.41

[9408 rows x 20 columns]

In [ ]:
prices.to_hdf('../data/bigtest.hd5', key='data')

In [ ]:
pd.read_hdf('../data/prices.hd5')['BTCUSDT']['close'].plot()

In [ ]:
data.to_dict()