In [1]:
import pandas as pd
import numpy as np
from quantfreedom.utils import clear_cache
from quantfreedom.indicators.talib_ind import from_talib
from quantfreedom.evaluators.evaluators import eval_is_below, eval_is_above, combine_evals
prices = pd.read_csv(
    'E:/Coding/backtesters/QuantFreedom/tests/data/30min.csv', index_col='time')

In [7]:
rsi_ind = from_talib(
    func_name='rsi',
    df_prices=prices,
    cart_product=False,
    combos=False,
    timeperiod=15,
)
rsi_ind

RSI_timeperiod         15
time
2020-10-01 00:00:00   NaN
2020-10-01 00:30:00   NaN
2020-10-01 01:00:00   NaN
2020-10-01 01:30:00   NaN
2020-10-01 02:00:00   NaN
...                   ...
2021-02-22 21:30:00 55.52
2021-02-22 22:00:00 51.50
2021-02-22 22:30:00 49.68
2021-02-22 23:00:00 45.83
2021-02-22 23:30:00 49.72

[6960 rows x 1 columns]

In [9]:
rsi_eval = eval_is_below(
    ind_data = rsi_ind,
    user_args=np.arange(30, 51, 10),
)
rsi_eval

RSI_timeperiod          15
RSI_is_below            30     40     50
time
2020-10-01 00:00:00  False  False  False
2020-10-01 00:30:00  False  False  False
2020-10-01 01:00:00  False  False  False
2020-10-01 01:30:00  False  False  False
2020-10-01 02:00:00  False  False  False
...                    ...    ...    ...
2021-02-22 21:30:00  False  False  False
2021-02-22 22:00:00  False  False  False
2021-02-22 22:30:00  False  False   True
2021-02-22 23:00:00  False  False   True
2021-02-22 23:30:00  False  False   True

[6960 rows x 3 columns]

In [10]:
ema_ind = from_talib(
    func_name='ema',
    df_prices=prices,
    cart_product=False,
    combos=False,
    timeperiod=[200, 400, 600]
)
ema_ind

EMA_timeperiod            200       400       600
time
2020-10-01 00:00:00       NaN       NaN       NaN
2020-10-01 00:30:00       NaN       NaN       NaN
2020-10-01 01:00:00       NaN       NaN       NaN
2020-10-01 01:30:00       NaN       NaN       NaN
2020-10-01 02:00:00       NaN       NaN       NaN
...                       ...       ...       ...
2021-02-22 21:30:00 54,719.70 52,709.16 50,719.50
2021-02-22 22:00:00 54,715.66 52,717.16 50,731.46
2021-02-22 22:30:00 54,709.31 52,723.94 50,742.60
2021-02-22 23:00:00 54,697.76 52,728.06 50,751.93
2021-02-22 23:30:00 54,691.23 52,734.61 50,762.88

[6960 rows x 3 columns]

In [12]:
ema_eval = eval_is_above(
    ind_data=ema_ind,
    df_prices=prices,
    cand_ohlc='close',
)
ema_eval

EMA_timeperiod         200    400    600
EMA_is_above         close  close  close
time
2020-10-01 00:00:00  False  False  False
2020-10-01 00:30:00  False  False  False
2020-10-01 01:00:00  False  False  False
2020-10-01 01:30:00  False  False  False
2020-10-01 02:00:00  False  False  False
...                    ...    ...    ...
2021-02-22 21:30:00  False  False  False
2021-02-22 22:00:00   True  False  False
2021-02-22 22:30:00   True  False  False
2021-02-22 23:00:00   True  False  False
2021-02-22 23:30:00   True  False  False

[6960 rows x 3 columns]

In [6]:
combine_evals(
    bigger_df=rsi_eval,
    smaller_df=ema_eval,
)

RSI_timeperiod          15                                                   \
RSI_is_below            30                   40                   50
EMA_timeperiod         200    400    600    200    400    600    200    400
EMA_is_above         close  close  close  close  close  close  close  close
time
2020-10-01 00:00:00  False  False  False  False  False  False  False  False
2020-10-01 00:30:00  False  False  False  False  False  False  False  False
2020-10-01 01:00:00  False  False  False  False  False  False  False  False
2020-10-01 01:30:00  False  False  False  False  False  False  False  False
2020-10-01 02:00:00  False  False  False  False  False  False  False  False
...                    ...    ...    ...    ...    ...    ...    ...    ...
2021-02-22 21:30:00  False  False  False  False  False  False  False  False
2021-02-22 22:00:00  False  False  False  False  False  False  False  False
2021-02-22 22:30:00  False  False  False  False  False  False   True  False
2021-02-22 23:00:00  False  False  False  False  False  False   True  False
2021-02-22 23:30:00  False  False  False  False  False  False   True  False

RSI_timeperiod
RSI_is_below
EMA_timeperiod         600
EMA_is_above         close
time
2020-10-01 00:00:00  False
2020-10-01 00:30:00  False
2020-10-01 01:00:00  False
2020-10-01 01:30:00  False
2020-10-01 02:00:00  False
...                    ...
2021-02-22 21:30:00  False
2021-02-22 22:00:00  False
2021-02-22 22:30:00  False
2021-02-22 23:00:00  False
2021-02-22 23:30:00  False

[6960 rows x 9 columns]